# OpenTelemetry — Last9
OTEL_SERVICE_NAME=last9-csharp-example
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp.last9.io
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic <base64(username:password)>
OTEL_TRACES_SAMPLER=always_on
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=local

# Optional
DEPLOYMENT_ENVIRONMENT=production
