receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  # Transform span name to include url.path (e.g., "GET" -> "GET /v1/holding")
  transform:
    trace_statements:
      - context: span
        statements:
          - set(name, Concat([name, " ", attributes["url.path"]], "")) where attributes["url.path"] != nil

  batch:
    timeout: 5s
    send_batch_size: 100

exporters:
  otlphttp:
    endpoint: https://otlp-aps1.last9.io:443
    headers:
      Authorization: "Basic <YOUR_LAST9_TOKEN>"

  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [transform, batch]
      exporters: [otlphttp, debug]
